.cabecalho {
  align-items: center;
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cabecalho__menu-hamburguer {
  background-image: url('../img/Menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.container {
  align-items: center;
  display: flex;
}

.cabecalho__menu-hamburguer.container__imagem {
  padding: 1rem;
}

.lista-menu {
  /* display: none; */
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -100%;
  top: 100%;
  transition: .2s;
  width: 65vw;
  z-index: 2;
}

.container__botao {
  display: none;
}

.container__botao:checked~.lista-menu {
  /* display: block; */
  left: 0;
}

.lista-menu__titulo,
.lista-menu__item {
  background-color: var(--branco);
  padding: 1rem;
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  background-clip: text;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__titulo {
  display: none;
}

.opcoes, .container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cabecalho__menu-hamburguer {
    display: none;
  }

  .container__imagem {
    margin: .5rem;
  }

  .container__titulo, .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container__titulo {
    display: block;
    font-weight: 400;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__botao {
    display: none;
  }

  label .opcoes__item {
    cursor: pointer;
  }

  .opcoes__lista-menu {
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -400%;
    width: auto;
  }

  .opcoes__botao:checked ~ .opcoes__lista-menu {
    top: 100%;
  }

  .opcoes__item {
    padding: 0 1rem;
    text-transform: uppercase;
  }

  .opcoes__link {
    color: var(--preto);
    text-decoration: none;
  }

  .container__imagem-transparente {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .cabecalho {
    padding: 0 4rem;
  }

  .opcoes {
    margin-right: auto;
    margin-left: 4.2rem;
  }
  .container__texto {
    display: block;
  }

  .container__link {
    align-items: center;
    color: var(--preto);
    display: flex;
    text-decoration: none;
  }
}